
# Ignore node_modules directory
node_modules/
package-lock.json

# Ignore all files in uploads but keep the folder
uploads/*
!uploads/.gitkeep
resized/*
!resized/.gitkeep
cropped/*
!cropped/.gitkeep

